.fullwidth {
    background-color: #F6F6F6;
width: 100%;
text-align: center;
font-family: 'Open Sans',Arial,sans-serif;
color: #606060;
font-size: 16px;
line-height: 1.6em;
font-weight: 400;
}
.container_10 {
margin-left: auto;
margin-right: auto;
width: 970px;
position: relative;
}
.index-tl .container_10 {
box-sizing: border-box;
padding: 75px 0 0;
}

.index-tl {
        height: auto
    }

    .index-tl .container_10 {
        box-sizing: border-box;
        padding: 75px 0 0
    }
  .index-tl .index-tl-buttons .index-tl-button-brokers h3, .index-tl .index-tl-buttons .index-tl-button-brokers h3 *, .index-tl .index-tl-buttons .index-tl-button-carriers h3, .index-tl .index-tl-buttons .index-tl-button-carriers h3 *, .index-tl h2, .index-tl h2 * {
font-weight: 300;
}
    .index-tl h2 {
        font-size: 44px;
        color: #1D2E42;
        font-family: 'Open Sans',Arial,sans-serif;

    }

    .index-tl .index-tl-text {
        width: 610px;
        margin: 0 auto;
        color: #606060;
font-size: 16px;
line-height: 1.6em;
font-weight: 400;
    }

    .index-tl .index-tl-buttons {
        width: 100%;
        clear: both;
        display: block;
        position: relative;
        box-sizing: border-box;
        padding: 18px 109px
    }

    .index-tl .index-tl-buttons:after {
        clear: both;
        display: block;
        content: ""
    }

    .index-tl .index-tl-buttons .index-tl-button-brokers,.index-tl .index-tl-buttons .index-tl-button-carriers {
        position: relative;
        display: block;
        width: 362px;
        float: left;
        box-sizing: border-box;
        padding: 18px 32px;
        border-radius: 4px;
        background-color: #F6F6F6;
        transition: background-color .5s ease-out
    }

    .index-tl .index-tl-buttons .index-tl-button-brokers h3,.index-tl .index-tl-buttons .index-tl-button-carriers h3 {
        font-size: 22px;
        color: #1D2E42;
        display: block;
        padding-bottom: 16px
    }

    .index-tl .index-tl-buttons .index-tl-button-brokers .index-tl-description,.index-tl .index-tl-buttons .index-tl-button-carriers .index-tl-description {
        display: block;
        margin-bottom: 14px
    }

    .index-tl .index-tl-buttons .index-tl-button-brokers .index-tl-navigation,.index-tl .index-tl-buttons .index-tl-button-brokers .index-tl-navigation *,.index-tl .index-tl-buttons .index-tl-button-carriers .index-tl-navigation,.index-tl .index-tl-buttons .index-tl-button-carriers .index-tl-navigation * {
        font-size: 14px
    }

    .index-tl .index-tl-buttons .index-tl-button-brokers .index-tl-navigation .default-button,.index-tl .index-tl-buttons .index-tl-button-carriers .index-tl-navigation .default-button {
        width: 190px;
        height: 40px;
        line-height: 2.8em
    }

    .index-tl .index-tl-buttons .index-tl-button-brokers .index-tl-navigation .learn-more,.index-tl .index-tl-buttons .index-tl-button-carriers .index-tl-navigation .learn-more {
        display: none
    }

    .index-tl .index-tl-buttons .index-tl-button-brokers:hover,.index-tl .index-tl-buttons .index-tl-button-carriers:hover {
        background-color: #FFF
    }

    .index-tl .index-tl-buttons .index-tl-button-carriers {
        margin-right: 14px
    }

    .index-tl .index-tl-buttons .index-tl-button-brokers {
        margin-left: 14px
    }

    .index-tl .index-tl-art {
        position: relative;
        display: block;
        width: 927px;
        height: 467px;
        margin: 0 auto;
        overflow: hidden
    }

    .index-tl .index-tl-art .index-tl-web {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        background-image: url(https://www.truckerpath.com/assets/img/index/web-browser@2x.png);
        background-repeat: 0 0;
        background-size: 100% auto;
        box-sizing: border-box;
        padding: 0 1px;
        z-index: 5
    }

    .index-tl .index-tl-art .index-tl-web img {
        width: 925px;
        position: absolute;
        top: 45px;
        left: 1
    }

    .index-tl .index-tl-art .index-tl-mobile {
        width: 248px;
        height: 379px;
        position: absolute;
        top: 89px;
        left: 151px;
        z-index: 9;
        overflow: hidden
    }

    .index-tl .index-tl-art .index-tl-mobile img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0
    }

    .index-tl .index-tl-art .index-tl-mobile-carriers {
        transition: opacity .3s ease-out,top .3s ease-out
    }

    .index-tl .index-tl-art .index-tl-web-brokers,.index-tl .index-tl-art .index-tl-web-carriers {
        transition: opacity .3s ease-out
    }

    .index-tl .index-tl-art.index-tl-art-carriers .index-tl-mobile-carriers {
        display: block;
        top: 0;
        opacity: 1;
        z-index: 5
    }

    .index-tl .index-tl-art.index-tl-art-carriers .index-tl-web-carriers {
        display: block;
        z-index: 5;
        opacity: 1
    }

    .index-tl .index-tl-art.index-tl-art-carriers .index-tl-web-brokers {
        display: block;
        z-index: 4;
        opacity: 0;
        transition: opacity .3s ease-out .3s
    }

    .index-tl .index-tl-art.index-tl-art-brokers .index-tl-mobile-carriers {
        display: block;
        top: 40px;
        opacity: 0;
        z-index: 4
    }

    .index-tl .index-tl-art.index-tl-art-brokers .index-tl-web-carriers {
        display: block;
        z-index: 4;
        opacity: 0;
        transition: opacity .3s ease-out .3s
    }

    .index-tl .index-tl-art.index-tl-art-brokers .index-tl-web-brokers {
        display: block;
        opacity: 1;
        z-index: 5
    }
    .default-button {
width: 292px;
height: 62px;
display: inline-block;
background-color: #0A8DD1;
box-shadow: inset 0 -2px 0 0 #0873aa;
border-radius: 4px;
color: #FFF;
overflow: hidden;
text-decoration: none;
cursor: pointer;
font-weight: 400;
}
.default-button:hover {
color: #FFF;
text-decoration: none;
background-color: #0b97e0;
box-shadow: inset 0 -2px 0 0 #0980be;
}
